---
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "../components/icons/Tailwind.astro";

const TAGS = {
  Astro: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
};
const PROJECTS = [
  {
    title: "Porfolio personal",
    description: "Creado desde cero con Astro y Tailwind CSS.",
    link: "https://javi-barrientos-peralta.netlify.app/",
    github: "https://github.com/JaviBarrientos17/my-porfolio",
    image: "/projects/porfolio.webp",
    tags: [TAGS.Astro, TAGS.Tailwind],
  },
];
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <a href={link}>
        <img
          class="rounded shadow-2xl shadow-white/10 size-3/4 transition hover:scale-105 hover:bg-white/10 mx-auto"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
      </a>
    </article>
  ))
}
